In [1]:
import pandas as pd

In [2]:
orderdf = pd.read_csv('./01Feb2021/NIFTY21APRFUT_1.CSV')

In [3]:
#https://www.youtube.com/watch?v=oqUR41U-xT4&list=WL&index=11

In [4]:
orderdf.columns

Index(['Sqn', 'Timestamp', 'TIME', 'Ord_ID1', 'Ord_ID2', 'Price', 'Qty',
       'MessageType', 'LTP', 'LTQ', 'VTT', 'ORDER TYPE', 'BIDQ1', 'BID1',
       'ASK1', 'ASKQ1', 'BIDQ2', 'BID2', 'ASK2', 'ASKQ2', 'BIDQ3', 'BID3',
       'ASK3', 'ASKQ3', 'BIDQ4', 'BID4', 'ASK4', 'ASKQ4', 'BIDQ5', 'BID5',
       'ASK5', 'ASKQ5'],
      dtype='object')

In [5]:
orderdf.columns = ['Timestamp', 'TIME', 'Ord_ID1', 'Ord_ID2', 'Price', 'Qty',\
       'MessageType', 'LTP', 'LTQ', 'VTT', 'ORDER TYPE', 'BIDQ1', 'BID1',\
       'ASK1', 'ASKQ1', 'BIDQ2', 'BID2', 'ASK2', 'ASKQ2', 'BIDQ3', 'BID3',\
       'ASK3', 'ASKQ3', 'BIDQ4', 'BID4', 'ASK4', 'ASKQ4', 'BIDQ5', 'BID5',\
       'ASK5', 'ASKQ5', 'last']

In [6]:
orderdf.index.name = 'Sqn'

In [7]:
orderdf.head()

,Timestamp,TIME,Ord_ID1,Ord_ID2,Price,Qty,MessageType,LTP,LTQ,VTT,...,ASKQ3,BIDQ4,BID4,ASK4,ASKQ4,BIDQ5,BID5,ASK5,ASKQ5,last
Sqn,,,,,,,,,,,,,,,,,,,,,
7,1296638100009989966,09:15:00.009989,1100000000000916,0,13745.10,3000,NEW ORDER,0.0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
511,1296638100018450022,09:15:00.018450,1100000000001356,0,13929.85,150,NEW ORDER,0.0,0,0,...,600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
621,1296638100022986851,09:15:00.022986,1100000000001473,0,13745.15,150,NEW ORDER,0.0,0,0,...,600.0,3000.0,13515.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
872,1296638100025936587,09:15:00.025936,1100000000001631,0,13929.80,75,NEW ORDER,0.0,0,0,...,3000.0,3000.0,13515.3,14149.9,600.0,NaN,NaN,NaN,NaN,NaN
873,1296638100025940922,09:15:00.025940,1100000000001632,0,13929.80,75,NEW ORDER,0.0,0,0,...,3000.0,3000.0,13515.3,14149.9,600.0,NaN,NaN,NaN,NaN,NaN

In [8]:
orderdf[['BIDQ1', 'BID1']].BIDQ1

Sqn
7           3000
511         3000
621          150
872          150
873          150
            ...
30072612      75
30072613      75
30072614      75
30072627      75
30075090      75
Name: BIDQ1, Length: 132725, dtype: int64

In [9]:
orderdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 132725 entries, 7 to 30075090
Data columns (total 32 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Timestamp    132725 non-null  int64
 1   TIME         132725 non-null  object
 2   Ord_ID1      132725 non-null  int64
 3   Ord_ID2      132725 non-null  int64
 4   Price        132725 non-null  float64
 5   Qty          132725 non-null  int64
 6   MessageType  132725 non-null  object
 7   LTP          132725 non-null  float64
 8   LTQ          132725 non-null  int64
 9   VTT          132725 non-null  int64
 10  ORDER TYPE   132725 non-null  object
 11  BIDQ1        132725 non-null  int64
 12  BID1         132725 non-null  float64
 13  ASK1         132724 non-null  float64
 14  ASKQ1        132724 non-null  float64
 15  BIDQ2        132724 non-null  float64
 16  BID2         132724 non-null  float64
 17  ASK2         132724 non-null  float64
 18  ASKQ2        132724 non-null  float64
 19  BIDQ3        132723 non-null  float64
 20  BID3         132723 non-null  float64
 21  ASK3         132724 non-null  float64
 22  ASKQ3        132724 non-null  float64
 23  BIDQ4        132723 non-null  float64
 24  BID4         132723 non-null  float64
 25  ASK4         132722 non-null  float64
 26  ASKQ4        132722 non-null  float64
 27  BIDQ5        132720 non-null  float64
 28  BID5         132720 non-null  float64
 29  ASK5         132631 non-null  float64
 30  ASKQ5        132631 non-null  float64
 31  last         0 non-null       float64
dtypes: float64(22), int64(7), object(3)
memory usage: 33.4+ MB

In [14]:
#orderdf['TIME2'] = pd.to_datetime(orderdf['TIME'], infer_datetime_format= True)
#orderdf = orderdf.drop(['TIME2'], axis=1)

In [19]:
from datetime import datetime
datetime.now()

datetime.datetime(2021, 4, 15, 13, 16, 52, 771426)

In [25]:
pd.to_datetime(orderdf['TIME'], format='%H:%M:%S.%f').dt.time

Sqn
7           09:15:00.009989
511         09:15:00.018450
621         09:15:00.022986
872         09:15:00.025936
873         09:15:00.025940
                 ...
30072612    09:29:59.867681
30072613    09:29:59.867683
30072614    09:29:59.867686
30072627    09:29:59.867824
30075090    09:29:59.930111
Name: TIME, Length: 132725, dtype: object

In [26]:
orderdf['TIME'] = pd.to_datetime(orderdf['TIME'], format='%H:%M:%S.%f')

In [27]:
orderdf = orderdf.set_index(['TIME'])

In [28]:
orderdf

,Timestamp,Ord_ID1,Ord_ID2,Price,Qty,MessageType,LTP,LTQ,VTT,ORDER TYPE,...,ASKQ3,BIDQ4,BID4,ASK4,ASKQ4,BIDQ5,BID5,ASK5,ASKQ5,last
TIME,,,,,,,,,,,,,,,,,,,,,
1900-01-01 09:15:00.009989,1296638100009989966,1100000000000916,0,13745.10,3000,NEW ORDER,0.0,0,0,BUY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1900-01-01 09:15:00.018450,1296638100018450022,1100000000001356,0,13929.85,150,NEW ORDER,0.0,0,0,SELL,...,600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1900-01-01 09:15:00.022986,1296638100022986851,1100000000001473,0,13745.15,150,NEW ORDER,0.0,0,0,BUY,...,600.0,3000.0,13515.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1900-01-01 09:15:00.025936,1296638100025936587,1100000000001631,0,13929.80,75,NEW ORDER,0.0,0,0,SELL,...,3000.0,3000.0,13515.30,14149.90,600.0,NaN,NaN,NaN,NaN,NaN
1900-01-01 09:15:00.025940,1296638100025940922,1100000000001632,0,13929.80,75,NEW ORDER,0.0,0,0,SELL,...,3000.0,3000.0,13515.30,14149.90,600.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1900-01-01 09:29:59.867681,1296638999867681102,1100000002810135,0,13801.00,75,CANCELLATION,13801.6,75,5175,SELL,...,75.0,1650.0,13782.95,13801.05,75.0,75.0,13782.25,13801.45,75.0,NaN
1900-01-01 09:29:59.867683,1296638999867683566,1100000002810136,0,13792.80,75,CANCELLATION,13801.6,75,5175,BUY,...,75.0,75.0,13782.25,13801.05,75.0,750.0,13781.60,13801.45,75.0,NaN
1900-01-01 09:29:59.867686,1296638999867686981,1100000002810139,0,13801.05,75,CANCELLATION,13801.6,75,5175,SELL,...,75.0,75.0,13782.25,13801.45,75.0,750.0,13781.60,13803.05,75.0,NaN
1900-01-01 09:29:59.867824,1296638999867824420,1100000002819238,0,13790.60,75,NEW ORDER,13801.6,75,5175,BUY,...,75.0,1650.0,13782.95,13801.45,75.0,75.0,13782.25,13803.05,75.0,NaN
1900-01-01 09:29:59.930111,1296638999930111580,1100000002810201,0,13790.55,75,CANCELLATION,13801.6,75,5175,BUY,...,75.0,75.0,13782.25,13801.45,75.0,75.0,13780.25,13803.05,75.0,NaN

**PTR**: Consider rectifying the date as 01-01-1900. This needs to be corrected. I am trying to find a way to specify the exact date.

In [44]:
price_ohlc = orderdf['Price'].resample('60s').ohlc()
price_ohlc

                         open      high       low     close
TIME
1900-01-01 09:15:00  13745.10  14084.70  13594.35  13822.30
1900-01-01 09:16:00  13822.30  13850.45  13780.25  13812.90
1900-01-01 09:17:00  13827.10  13849.80  13800.30  13831.25
1900-01-01 09:18:00  13841.00  13853.45  13809.10  13832.85
1900-01-01 09:19:00  13841.25  13850.80  13797.35  13818.55
1900-01-01 09:20:00  13810.40  13823.55  13761.35  13800.35
1900-01-01 09:21:00  13800.30  13813.40  13763.00  13787.05
1900-01-01 09:22:00  13793.95  13830.45  13774.60  13798.45
1900-01-01 09:23:00  13813.40  13840.00  13788.90  13817.45
1900-01-01 09:24:00  13825.85  13838.55  13789.00  13817.00
1900-01-01 09:25:00  13816.95  13829.70  13791.85  13803.50
1900-01-01 09:26:00  13804.25  13829.35  13782.15  13817.05
1900-01-01 09:27:00  13817.50  13832.35  13785.85  13825.35
1900-01-01 09:28:00  13825.35  13831.50  13800.25  13817.55
1900-01-01 09:29:00  13817.70  13822.55  13777.25  13790.55

In [32]:
bids = orderdf['BID1'].resample('60s').ohlc()
bids

                         open      high       low     close
TIME
1900-01-01 09:15:00  13745.10  13838.05  13745.10  13801.65
1900-01-01 09:16:00  13801.65  13821.50  13800.15  13817.20
1900-01-01 09:17:00  13817.20  13831.25  13814.50  13831.25
1900-01-01 09:18:00  13831.25  13837.85  13815.75  13834.35
1900-01-01 09:19:00  13834.35  13837.45  13809.05  13810.55
1900-01-01 09:20:00  13810.55  13810.55  13770.00  13791.05
1900-01-01 09:21:00  13791.05  13794.90  13770.05  13787.05
1900-01-01 09:22:00  13787.05  13816.85  13787.00  13804.30
1900-01-01 09:23:00  13804.30  13828.60  13788.90  13817.45
1900-01-01 09:24:00  13817.45  13826.45  13793.80  13810.00
1900-01-01 09:25:00  13810.00  13818.00  13796.35  13805.15
1900-01-01 09:26:00  13805.15  13815.25  13801.60  13809.95
1900-01-01 09:27:00  13809.95  13818.75  13801.60  13817.30
1900-01-01 09:28:00  13817.30  13818.05  13802.65  13808.75
1900-01-01 09:29:00  13808.75  13811.70  13782.90  13790.60

In [33]:
asks = orderdf['ASK2'].resample('60s').ohlc()
asks

                         open      high       low     close
TIME
1900-01-01 09:15:00  13929.90  13929.90  13804.35  13816.15
1900-01-01 09:16:00  13816.15  13835.00  13807.40  13825.75
1900-01-01 09:17:00  13825.75  13846.70  13820.05  13836.65
1900-01-01 09:18:00  13836.65  13851.05  13828.65  13840.00
1900-01-01 09:19:00  13840.00  13847.75  13815.10  13817.95
1900-01-01 09:20:00  13817.95  13823.05  13778.75  13800.40
1900-01-01 09:21:00  13800.35  13810.35  13780.25  13793.25
1900-01-01 09:22:00  13793.25  13826.65  13791.95  13810.45
1900-01-01 09:23:00  13810.45  13834.80  13809.20  13825.25
1900-01-01 09:24:00  13825.25  13833.40  13807.80  13816.90
1900-01-01 09:25:00  13816.90  13824.45  13810.75  13812.10
1900-01-01 09:26:00  13812.10  13825.50  13806.55  13816.85
1900-01-01 09:27:00  13816.85  13828.90  13804.40  13824.45
1900-01-01 09:28:00  13824.45  13829.60  13815.75  13816.45
1900-01-01 09:29:00  13816.45  13821.85  13798.45  13799.65

### Total successful trades

In [34]:
orderdf.MessageType.unique()

array(['NEW ORDER', 'MODIFICATION', 'CANCELLATION', 'TRADE'], dtype=object)

In [ ]:
tradedf = orderdf[orderdf.MessageType == 'TRADE']

In [40]:
tradedf.head(10)

,Timestamp,Ord_ID1,Ord_ID2,Price,Qty,MessageType,LTP,LTQ,VTT,ORDER TYPE,...,ASKQ3,BIDQ4,BID4,ASK4,ASKQ4,BIDQ5,BID5,ASK5,ASKQ5,last
TIME,,,,,,,,,,,,,,,,,,,,,
1900-01-01 09:15:28.277368,1296638128277368496,0,1100000000003588,13833.00,75,TRADE,13833.00,75,75,SELL,...,300.0,75.0,13819.40,13847.45,750.0,150.0,13813.70,13848.10,150.0,NaN
1900-01-01 09:15:28.356467,1296638128356467166,0,1100000000073420,13832.85,75,TRADE,13832.85,75,150,SELL,...,75.0,450.0,13819.40,13845.90,300.0,150.0,13815.80,13847.45,750.0,NaN
1900-01-01 09:15:28.383732,1296638128383732606,0,1100000000070141,13832.85,75,TRADE,13832.85,75,225,SELL,...,300.0,450.0,13819.40,13847.45,750.0,150.0,13816.50,13848.20,150.0,NaN
1900-01-01 09:15:29.804960,1296638129804960163,0,1100000000077493,13834.95,75,TRADE,13834.95,75,300,SELL,...,150.0,600.0,13823.35,13851.90,750.0,750.0,13817.25,13852.00,300.0,NaN
1900-01-01 09:15:29.806859,1296638129806859078,0,1100000000077482,13834.90,75,TRADE,13834.90,75,375,SELL,...,300.0,750.0,13817.25,13858.00,450.0,150.0,13816.25,13874.00,450.0,NaN
1900-01-01 09:15:30.776458,1296638130776458095,0,1100000000083200,13829.15,75,TRADE,13829.15,75,450,SELL,...,75.0,150.0,13824.25,13844.75,525.0,150.0,13824.00,13844.80,150.0,NaN
1900-01-01 09:15:30.776747,1296638130776747529,0,1100000000079964,13829.10,75,TRADE,13829.10,75,525,SELL,...,75.0,150.0,13824.25,13844.75,525.0,150.0,13824.00,13844.80,150.0,NaN
1900-01-01 09:15:30.776966,1296638130776966058,0,1100000000083355,13829.00,75,TRADE,13829.00,75,600,SELL,...,75.0,150.0,13824.25,13844.75,525.0,150.0,13824.00,13844.80,150.0,NaN
1900-01-01 09:15:30.776966,1296638130776966058,0,1100000000080928,13829.10,75,TRADE,13829.10,75,675,SELL,...,525.0,150.0,13824.25,13844.80,150.0,150.0,13824.00,13844.95,150.0,NaN
1900-01-01 09:15:30.826343,1296638130826343332,0,1100000000083453,13828.25,75,TRADE,13828.25,75,750,SELL,...,375.0,150.0,13824.25,13844.25,150.0,150.0,13824.00,13844.75,525.0,NaN

In [38]:
tradedf['MessageType'].resample('10s').count()

TIME
1900-01-01 09:15:20     5
1900-01-01 09:15:30    15
1900-01-01 09:15:40     2
1900-01-01 09:15:50     4
1900-01-01 09:16:00     0
                       ..
1900-01-01 09:29:00     0
1900-01-01 09:29:10     0
1900-01-01 09:29:20     0
1900-01-01 09:29:30     0
1900-01-01 09:29:40     1
Freq: 10S, Name: MessageType, Length: 87, dtype: int64

In [42]:
successful_trades = tradedf['MessageType'].resample('1min').count()
successful_trades

TIME
1900-01-01 09:15:00    26
1900-01-01 09:16:00     6
1900-01-01 09:17:00     5
1900-01-01 09:18:00     2
1900-01-01 09:19:00     4
1900-01-01 09:20:00     6
1900-01-01 09:21:00     3
1900-01-01 09:22:00     1
1900-01-01 09:23:00     5
1900-01-01 09:24:00     2
1900-01-01 09:25:00     2
1900-01-01 09:26:00     0
1900-01-01 09:27:00     1
1900-01-01 09:28:00     4
1900-01-01 09:29:00     1
Freq: T, Name: MessageType, dtype: int64

### Market Orders
This can be detected by comparing price with the Ask. If price == Ask then it's a market order.

In [49]:
market_orders = orderdf[orderdf['Price'] == orderdf['ASK1']]
market_orders

,Timestamp,Ord_ID1,Ord_ID2,Price,Qty,MessageType,LTP,LTQ,VTT,ORDER TYPE,...,ASKQ3,BIDQ4,BID4,ASK4,ASKQ4,BIDQ5,BID5,ASK5,ASKQ5,last
TIME,,,,,,,,,,,,,,,,,,,,,
1900-01-01 09:15:00.018450,1296638100018450022,1100000000001356,0,13929.85,150,NEW ORDER,0.0,0,0,SELL,...,600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1900-01-01 09:15:00.025936,1296638100025936587,1100000000001631,0,13929.80,75,NEW ORDER,0.0,0,0,SELL,...,3000.0,3000.0,13515.3,14149.90,600.0,NaN,NaN,NaN,NaN,NaN
1900-01-01 09:15:00.025940,1296638100025940922,1100000000001632,0,13929.80,75,NEW ORDER,0.0,0,0,SELL,...,3000.0,3000.0,13515.3,14149.90,600.0,NaN,NaN,NaN,NaN,NaN
1900-01-01 09:15:00.025966,1296638100025966653,1100000000001638,0,13929.80,150,NEW ORDER,0.0,0,0,SELL,...,3000.0,600.0,13521.5,14149.90,600.0,3000.0,13515.3,NaN,NaN,NaN
1900-01-01 09:15:00.027574,1296638100027574810,1100000000001356,0,13929.75,150,MODIFICATION,0.0,0,0,SELL,...,3000.0,600.0,13521.5,14149.90,600.0,3000.0,13515.3,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1900-01-01 09:29:59.852067,1296638999852067761,1100000002783421,0,13799.85,75,MODIFICATION,13801.6,75,5175,SELL,...,75.0,75.0,13790.1,13800.35,75.0,150.0,13783.1,13801.45,75.0,NaN
1900-01-01 09:29:59.852144,1296638999852144402,1100000002819160,0,13799.80,150,MODIFICATION,13801.6,75,5175,SELL,...,75.0,75.0,13790.1,13800.35,75.0,150.0,13783.1,13801.45,75.0,NaN
1900-01-01 09:29:59.852213,1296638999852213597,1100000002783421,0,13799.75,75,MODIFICATION,13801.6,75,5175,SELL,...,75.0,75.0,13790.1,13800.35,75.0,150.0,13783.1,13801.45,75.0,NaN
1900-01-01 09:29:59.859748,1296638999859748523,1100000002810166,0,13799.65,75,MODIFICATION,13801.6,75,5175,SELL,...,150.0,75.0,13790.1,13800.00,75.0,150.0,13783.1,13801.45,75.0,NaN
1900-01-01 09:29:59.859819,1296638999859819305,1100000002783421,0,13799.60,75,MODIFICATION,13801.6,75,5175,SELL,...,150.0,75.0,13790.1,13800.00,75.0,150.0,13783.1,13801.45,75.0,NaN

In [50]:
market_orders.MessageType.unique()

array(['NEW ORDER', 'MODIFICATION', 'CANCELLATION', 'TRADE'], dtype=object)

Total No. of market orders from 9:15 to 9:30 33850. This include orders of all types.

In [53]:
market_orders['MessageType'].resample('1min').count()

TIME
1900-01-01 09:15:00    3446
1900-01-01 09:16:00    1650
1900-01-01 09:17:00    1517
1900-01-01 09:18:00    1331
1900-01-01 09:19:00    1889
1900-01-01 09:20:00    4499
1900-01-01 09:21:00    2302
1900-01-01 09:22:00    3528
1900-01-01 09:23:00    3568
1900-01-01 09:24:00    1824
1900-01-01 09:25:00    1770
1900-01-01 09:26:00    2569
1900-01-01 09:27:00    1695
1900-01-01 09:28:00     564
1900-01-01 09:29:00    1698
Freq: T, Name: MessageType, dtype: int64