In [1]:
%matplotlib inline
from pylab import mpl, plt
plt.style.use('seaborn')
mpl.rcParams['savefig.dpi'] = 300
mpl.rcParams['font.family'] = 'serif'

In [1]:
import configparser
c = configparser.ConfigParser()
c.read('../pyalgo.cfg')

[]

In [9]:
import quandl as q
q.ApiConfig.api_key = "####"

In [14]:
data = q.get('BCHAIN/MKPRU')

In [16]:
data

               Value
Date
2009-01-02      0.00
2009-01-03      0.00
2009-01-04      0.00
2009-01-05      0.00
2009-01-06      0.00
...              ...
2021-03-25  52508.23
2021-03-26  51415.92
2021-03-27  55074.47
2021-03-28  55863.93
2021-03-29  55783.71

[4470 rows x 1 columns]

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4470 entries, 2009-01-02 to 2021-03-29
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Value   4470 non-null   float64
dtypes: float64(1)
memory usage: 69.8 KB

In [18]:
data['Value'].resample('A').last()

Date
2009-12-31        0.000000
2010-12-31        0.299998
2011-12-31        5.200000
2012-12-31       13.561000
2013-12-31      746.900000
2014-12-31      315.700000
2015-12-31      429.340000
2016-12-31      959.870000
2017-12-31    14165.575000
2018-12-31     3791.545833
2019-12-31     7219.600000
2020-12-31    28856.590000
2021-12-31    55783.710000
Freq: A-DEC, Name: Value, dtype: float64

In [20]:
vol = q.get('VOL/MSFT')
vol.iloc[:, :10].info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1006 entries, 2015-01-02 to 2018-12-31
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Hv10    1006 non-null   float64
 1   Hv20    1006 non-null   float64
 2   Hv30    1006 non-null   float64
 3   Hv60    1006 non-null   float64
 4   Hv90    1006 non-null   float64
 5   Hv120   1006 non-null   float64
 6   Hv150   1006 non-null   float64
 7   Hv180   1006 non-null   float64
 8   Phv10   1006 non-null   float64
 9   Phv20   1006 non-null   float64
dtypes: float64(10)
memory usage: 86.5 KB

In [22]:
vol[['IvMean30', 'IvMean60', 'IvMean90']].tail()

            IvMean30  IvMean60  IvMean90
Date
2018-12-24    0.4310    0.4112    0.3829
2018-12-26    0.4059    0.3844    0.3587
2018-12-27    0.3918    0.3879    0.3618
2018-12-28    0.3940    0.3736    0.3482
2018-12-31    0.3760    0.3519    0.3310